{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <img src="{{ MEDIA_URL }}pain-au-chocolat.jpg" alt="Pain au chocolat platter">
    <div id="button-hero">
        <a class="btn btn-lg rounded-5 lead-font-size text-uppercase font-weight-bold py-3 border-5" href="{% url 'products' %}" role="button">Shop now</a>
    </div>
</div>
{% endblock %}