html {
    height: 100%;
}

body {
    height: calc(100vh - 170px);
    color: #060B06;
    font-family: Lato;
}

.footer {
    margin-bottom: 0px !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px
}

.navbar {
    padding: 0.5rem 2rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Delivery discount top banner */
.top-banner {
    background-color: #9D6133;
    color: white;
    letter-spacing: 1.2px;
}

/* search bar */
.search .search-button {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    letter-spacing: .025em;
    font-size: 1.2em;
    padding-left: 1em;
    height: 45px;
    box-sizing: border-box;
    background-color: #f4f3f3;
    color: #2b3344;
    border: 0;
    border-radius: 12px 0 0 12px;
    flex: 1 1 auto;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 340px) {
    .fa-envelope {
        display: none !important;
    }
}

@media (max-width: 725px) {
    #title-hero h1 {
        font-size: 300% !important;
    }
}

@media (max-width: 520px) {
    #title-hero h1 {        
        font-size: 175% !important;

    }

    #button-hero {
        width: 50%;
        position: absolute;
        bottom: 20px !important;
    }

    #button-hero h2{
        font-size: 75%;

    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

}

/* Index page */
#page-wrapper {
    max-width: 1440px;
    margin: 0 auto 0 auto;
}

#hero-section {
    position: relative;
}

#page-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#button-hero {
    background-color: white;
    position: absolute;
    bottom: 50px;
    border: #9D6133;
    border-style: double;
    border-radius: 10px;
    border-width: 5px;
}

#button-hero a {
    width: 100%;
}

#button-hero a:hover {
    background-color: #000;
    color: white;
}

#title-hero {
    position: absolute;
    top: 50px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#title-hero h1 {
    font-size: 500%;
    text-transform: uppercase;
    color: white;
}

.why-box {
    background-color: #A47E67;
    padding: 20px;
    border: white;
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    text-align: center;
}

.why-box i {
    margin-bottom: 10px;
}

/* Product card*/
.img-container {
    position: relative;
    object-fit: scale-down;
}

.discount-banner {
    background-color: #9D6133;
    color: white;
    width: 70px;
    position: absolute;
    top: 10%;
}

.price-row {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.old-price {
    line-height: 10px;
    height: 10px;
    padding-right: 0px;
    font-size: small;
    text-decoration: line-through;
}

.price {
    font-size: large;
    color: #9D6133;
}

/* Detail page*/
.brand-detail a {
    color: #6c757d !important;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.brand-detail a:hover {
    color: #6c757d !important;
    text-decoration-line: underline;
}

.detail-discount-banner {
    margin: 40px 0px 10px;
    background-color: #9D6133;
    color: white;
    width: 70px;
}

.detail-price {
    font-size: large;
    color: #9D6133;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 1.5px;
}

.add-basket-btn {
    background-color: #060B06;
    color: white !important;
    width: 100%;
    letter-spacing: 1px;
}

.add-basket-btn:hover,
.add-basket-btn:active,
.add-basket-btn:focus {
    background: White;
    color: #060B06 !important;
    border: 1px solid #060B06;
}

.keep-shopping-btn {
    background: white;
    color: #060B06 !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid #060B06;
}

.keep-shopping-btn:hover,
.keep-shopping-btn:active,
.keep-shopping-btn:focus {
    background: #060B06;
    color: white !important;
    border: 1px solid #060B06;
}

.qty_input {
    width: 100%;
}


/* Brand card*/
.brand-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    object-fit: contain
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 95px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}