html {
    height: 100%;
}

body {
    height: calc(100vh - 170px);
    color: #060B06;
    font-family: Lato;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Delivery discount top banner */
.top-banner {
    background-color: #9D6133;
    color: white;
    letter-spacing: 1.2px;
}

/* search bar */
.search .search-button {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    letter-spacing: .025em;
    font-size: 1.2em;
    padding-left: 1em;
    height: 45px;
    box-sizing: border-box;
    background-color: #f4f3f3;
    color: #2b3344;
    border: 0;
    border-radius: 12px 0 0 12px;
    flex: 1 1 auto;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 140px;
    }

    body {
        height: calc(100vh - 140px);
    }
}

/* index page wrapper */
#page-wrapper {
    max-width: 1440px;
    margin: 0 auto 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}


#page-wrapper img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
}

#button-hero {
    background-color: white;
    color: #736D69;
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    border: #9D6133;
    border-style: double;
    border-radius: 10px;
    border-width: 5px;
}

#button-hero a {
    font-size: 2.5em;
}

/* Product card*/
.img-container {
    position: relative;
    object-fit: scale-down;
}

.discount-banner {
    background-color: #9D6133;
    color: white;
    width: 70px;
    position: absolute;
    top: 10%;
}

.price-row {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.old-price {
    line-height: 10px;
    height: 10px;
    padding-right: 0px;
    font-size: small;
    text-decoration: line-through;
}

.price {
    font-size: large;
    color: #9D6133;
}

/* Detail page*/
.brand-detail {
    padding: 5px 0px;
}

.detail-discount-banner {
    margin: 40px 0px 10px;
    background-color: #9D6133;
    color: white;
    width: 70px;
}

.detail-price {
    font-size: large;
    color: #9D6133;
    font-weight: bold;
    font-size: 200%;
    letter-spacing: 1.5px;
}

.add-basket-btn{
    background-color: #060B06;
    color: white!important;
    width: 100%;
    letter-spacing: 1px;
}

.add-basket-btn:hover,
.add-basket-btn:active,
.add-basket-btn:focus {
    background: White;
    color: #060B06 !important;
    border: 1px solid #060B06;
}

.keep-shopping-btn {
    background: white;
    color: #060B06 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #060B06;
}

.keep-shopping-btn:hover,
.keep-shopping-btn:active,
.keep-shopping-btn:focus {
    background: #060B06;
    color: white !important;
    border: 1px solid #060B06;
}

.qty_input{
    width: 100%;
}


/* Brand card*/
.brand-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    object-fit: contain
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 95px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}
