<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'all_brands' %}" class="dropdown-item ">All Brand</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="utensils-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Utensils
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="utensils-link">
                <a href="{% url 'products' %}?category=blow_torches" class="dropdown-item">Blow Torches</a>
                <a href="{% url 'products' %}?category=brushes" class="dropdown-item">Brushes</a>
                <a href="{% url 'products' %}?category=dough_scrappers" class="dropdown-item">Dough Scrappers</a>
                <a href="{% url 'products' %}?category=knives" class="dropdown-item">Knives</a>                
                <a href="{% url 'products' %}?category=pastry_bags" class="dropdown-item">Pastry Bags</a>
                <a href="{% url 'products' %}?category=rolling_pins" class="dropdown-item">Rolling Pins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="frames-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Frames
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="frames-link">                
                <a href="{% url 'products' %}?category=mousse_frames" class="dropdown-item">Mousse Frames</a>
                <a href="{% url 'products' %}?category=tart_frames" class="dropdown-item">Tart Frames</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cake-molds-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cake Molds</a>
            <div class="dropdown-menu border-0" aria-labelledby="cake-molds-link">
                <a href="{% url 'products' %}?category=brioche" class="dropdown-item">Brioche</a>
                <a href="{% url 'products' %}?category=cupcakes" class="dropdown-item">Cupcakes</a>           
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="oven-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oven
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="oven-link">
                <a href="{% url 'products' %}?category=baking_sheets" class="dropdown-item">Baking Sheets</a>
                <a href="{% url 'products' %}?category=silicone_mats" class="dropdown-item">Silicone Mats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="discounts-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Discounts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="discounts-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?sort=discount&direction=desc" class="dropdown-item">All Discounts</a>
            </div>
        </li>
    </ul>
</div>