{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font"> Our Commitment to Customer Satisfaction</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row p-4">
            <section class="pt-5">
                <p>
                    Le Patissier has established a strong focus on customer satisfaction. Your continued confidence in
                    our
                    company is of utmost importance to us and we endeavour to maintain and strengthen this special
                    relationship.
                    This commitment is an integral part of our corporate values. Our main commitment is your
                    satisfaction.
                </p>
                <hr>
            </section>

            <section>
                <h3>A long-term relationship with our customers</h3>
                <p>At Le Patissier, our team is dedicated to help you. We guarantee the highest quality customer
                    service.
                    We take pride in responding to your particular needs and in providing you the best possible advice,
                    clear
                    and accurate information about our products and our payment and shipping options.</p>

                <p>Le patissier is commited to not sharing your personal information to third parties.</p>
                <hr>
            </section>

            <section>
                <h3>Ever-improving Services</h3>
                <p>The excellence objectives of Le Patissier are closely related to customer satisfaction. Your
                    opinions,
                    feedback and suggestions are essential to our company; they are systematically taken into
                    consideration
                    and help us refine our services in order to better meet your expectations.</p>
                <hr>
            </section>
            <section>

                <h3>A Service of Excellence</h3>

                <h6><strong>Money Back Guarantee</strong></h6>
                <p>
                    Le Patissier abides by the 'Money Back' guarantee specified in the quality charter of the French
                    Association of Distance Selling Companies (FEVAD).
                </p>

                <h6><strong>Returning Damaged or Non-Compliant Goods*</strong></h6>
                <p>
                    In case of a faulty item, quality problem, preparation or packaging issue or any damaged item during
                    transport (you must notify Le Patissier within 14 days after reception), we will send you a pre-paid
                    shipping label to return the items (metropolitan France only).
                    If you reside outside France, please contact our Customer Service to discuss refund options of the
                    return
                    shipping charges.
                </p>

                <h6><strong>After-Sales Service*</strong></h6>
                <p>Cooking waits for no man! With our efficient After-Sales Service, we commit ourselves to process your
                    request - telephone call or email - on the same working day and to provide a straightforward,
                    objective
                    solution.</p>

                <p> In case of a faulty item, you will be sent a pre-paid shipping label. No further costs will be
                    incurred.
                    According to the type of defect, two solutions will be offered: an immediate exchange or a prompt
                    repair
                    of
                    the item.</p>

                <h6><strong>Shipping </strong></h6>
                <p>Le Patissier wants to meet all your cooking needs, even the most pressing ones! Among the most
                    efficient
                    in the e-commerce market, our payment and shipping services are available to you, wherever you are
                    in
                    the
                    world.</p>

                <h6><strong>Partnerships with Suppliers </strong></h6>
                <p> Le Patissier has selected suppliers based on a number of strict criteria: legitimacy, history and
                    involvement in the culinary world.</p>

                <p> The manufacturing of each product available on the website of Le Patissier is of the highest quality
                    and
                    is in full compliance to all applicable hygiene and safety regulations.</p>

                <p> Le Patissier favours products manufactured in France or in the European Union. All products are
                    perfectly in line with our company's motto and values: "Professional quality for your kitchen".</p>
                <hr>
            </section>

            *For further information, please read our <a href="{% url 'terms_conditions' %}">General Terms and Conditions of Sale</a>.
        </div>
    </div>
</div>

{% endblock %}