{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font"> Legal Statement</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row p-4">
            <section class="pt-5">
                <p> The website www.meilleurduchef.com/en is administered by LLG ltd with head offices in Slovakia and registered
                on the Senec commerce registry office under the number 123 456 789.</p>

                <p>Share capital: 100,000 Euros.</p>
                <p>Intra-Community VAT number: SK 81433111111</p>
                <p>Director of Publication: Ludovic Le Guen</p>
                <p>Web Hosting: Heroku.com</p>
                <p>Head Office: 26 chmelova, 90028 Senec Sovakia</p>
                
                <hr>
            </section>
        </div>
    </div>
</div>


{% endblock %}