{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font"> Privacy Policy</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row p-4">
            <section class="pt-5">
                <h3> Personal Information</h3>
                <p>Le Patisssier collects and stores data from its members.</p>

                <p> The collection of information allows Le Patisssier to establish statistics. Le Patisssier has
                    the
                    right to communicate this data to third parties and allow them to exploit it, provided names are not
                    disclosed. The file containing this data is registered at the C.N.I.L. (French Commission for
                    International Technology and Liberties) under the number 745929.</p>

                <p> Le Patisssier refuses to communicate personal information regarding its members or Internet
                    users,
                    except in cases authorized by law. Le Patisssier is focusing efforts on protecting its customers'
                    personal data by using appropriate technical measures and organisation standards.</p>

                <p> Under the French Data Protection Act n° 78-17 of the 6th of January 1978 addressing the processing
                    of personal data, each member has the right to object (article 26), access (articles 34 to 38) and edit
                    (article 36) his/her personal information.</p>

                <p> Therefore, the member may demand that an organisation rectifies, completes, clarifies, updates or
                    deletes his/her personal information that is judged incorrect, incomplete, inaccurate, outdated or
                    whose
                    collection, use, communication or storage is forbidden. To do so, the member should follow the
                    instructions described in his/her member account, or contact our Customer Service by sending a
                    message
                    or by post at: Plat-Net, ZAC du Golf, 141 impasse Oihana, 64200 Bassussarry - FRANCE.</p>
                <hr>
            </section>
        </div>
    </div>
</div>


{% endblock %}