{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid ">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font"> General Terms & Conditions of Sale</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row p-4">
            <section class="pt-5">
                <p>
                    Last updated: August 13th, 2023</p>
                <p>
                    Download a printable PDF version of these Terms of Sale: General Terms and Conditions of Sale
                <h3>
                    ARTICLE 1 - ACCEPTANCE & VALIDITY </h3>
                <p> Please read these terms of sale carefully before placing your order on the website of Le Patissier.
                    By submitting an order on the website of Le Patissier, you agree to comply with these General Terms
                    and Conditions of Sale. These General Terms and Conditions of Sale shall govern the contractual
                    relationship between you and Le Patissier. They are applicable especially to all matters regarding
                    orders, payment, shipping and delivery and management of potential procedures for returning goods.
                    These
                    terms of sale are applicable to products sold on the website of Le Patissier only.</p>
                <hr>
                <h3>ARTICLE 2 - PRODUCTS</h3>
                <p>
                    Most products sold by Le Patissier are available in stock. However, if any products you order
                    turn
                    out to be unavailable or temporarily out of stock, we will inform you about the required supply
                    time.
                    Le Patissier makes all efforts to ensure that product descriptions and details are as accurate
                    as
                    possible. However, Le Patissier cannot be held liable for any incorrect or incomplete
                    information on
                    the website. Images of products are for illustrative purposes only. Information about products,
                    prices
                    and shipping options is available on the website. Offers are valid while published on the website.
                </p>
                <hr>
                <h3>ARTICLE 3 - ORDERS</h3>
                <p>
                    Once you have placed an order, an order acknowledgement is automatically sent to you via email.
                    Le Patissier reserves the right to cancel or suspend your order in the event of non-payment,
                    incorrect
                    address or any other issue related to your personal account, until a solution is reached. If you
                    created
                    a professional account, Le Patissier reserves the right to check your intra-community VAT
                    identification number. If the details provided are incorrect, your order will be cancelled. You are
                    bound by any information you provide during the order process. Le Patissier shall not be held
                    responsible for any consequences due to errors or inaccuracies regarding the shipping address or
                    billing
                    details.</p>
                <hr>
                <h3>
                    ARTICLE 4 - PAYMENT</h3>
                <p>
                    Items must be paid in full at the time of the order. Once you validate an order, it is considered
                    effective when the authorised banking authorities approve the transaction. In the event the payment
                    is
                    declined by your bank, the order will be automatically cancelled. If any products you order turn out
                    to
                    be unavailable or temporarily out of stock, we will issue a credit of the corresponding amount. This
                    credit will be available in your personal account. A refund can also be issued on request.</p>
                <p>
                    Payment by credit card: Debit or credit card, Visa, Mastercard.
                    Your credit card will be charged 3 days after you place your order. Your banking information (card
                    digits, expiry date) are coded via SSL system, then processed by our financial partner, Banque
                    Populaire. All payment transactions on the website of Le Patissier are completely secure.</p>
                <p>
                    Payment in 3 interest-free instalments (for customers in France only):
                    For any order between 100 and 1,000 Euros, a payment in 3 (three) instalments with 0% interest is
                    possible. This option is offered by COFIDIS.</p>
                <p>
                    Payment with a PAYPAL account:
                    When selecting payment with PayPal, you will be automatically redirected to the PayPal platform.
                    Once
                    the payment has been approved by PayPal, you will be redirected to Le Patissier to complete your
                    order.</p>
                <p>
                    Payment by bank transfer:
                    In the event of payment by bank transfer, the customer is responsible for any applicable bank fees.
                    All
                    payments received with an outstanding balance must be completed for the dispatch of the order.
                    For any refund request, the customer shall provide bank account details (IBAN + SWIFT) and any
                    applicable bank fees shall be borne by the customer. In the event of a refund by bank transfer due
                    to
                    out-of-stock items (temporarily or permanently), Le Patissier is responsible for the payment of
                    any
                    applicable bank fees.</p>
                <p>
                    Other payment options:
                    Bank check issued by a French banking establishment (in €uros only): The items will be held from the
                    stock and the preparation process will start upon reception of the cheque.
                    International postal order (available in selected countries).
                    Payment must be sent to:
                    Plat-Net
                    ZAC du Golf
                    141 impasse Oihana
                    64200 BASSUSSARRY
                    FRANCE</p>
                <hr>
                <h3>
                    ARTICLE 5 - PRICES & INVOICING</h3>
                <p>
                    All prices are shown in Euros, taxes included. Prices include all applicable taxes, discounts and
                    handling charges.</p>
                <p>
                    Prices exclude shipping costs. Shipping costs are displayed in your quotation or order summary
                    before
                    checkout, as well as in the order confirmation.</p>
                <p>
                    In the event one or several governmental taxes are created or modified (such as environmental tax),
                    this
                    may affect prices of products on the website of Le Patissier and other sales mediums.</p>
                <p>
                    However, once an order has been confirmed, prices are guaranteed and cannot be modified. For member
                    countries of the European Union, all prices are shown tax included. For professional customers with
                    an
                    intra-community VAT identification number, all prices are show tax excluded. For countries outside
                    the
                    European Union, all prices are displayed tax exclusive. Payments are made via credit card, PayPal
                    account or bank transfer and Le Patissier is paid in Euros. Prices can be displayed in another
                    currency than Euros. These prices are shown for information purposes only and do not take into
                    account
                    any exchange rate or transaction fees applicable by your bank. All invoices are issued in Euros by
                    Le Patissier. Upon reception of the shipping notification email, the invoice can be downloaded in
                    PDF format directly from your personal account.</p>
                <hr>
                <h3>
                    ARTICLE 6 - SHIPPING & DELIVERY</h3>
                <p>
                    le-patissier.com ships all orders in stock within 24 hours, Monday to Friday, excluding weekends and
                    holidays.</p>
                <p>
                    Delivery to metropolitan France and Corsica</p>
                <p>
                    In metropolitan France and Corsica, deliveries can be arranged at home or to collection points.</p>
                <p>
                    With DPD Pickup ICI Colis (delivery to collection point), the parcel is delivered to the collection
                    point you selected, with recorded signature on delivery. You are notified by email when the parcel
                    is
                    available at the collection point. The parcel must be collected within 8 (eight) days. If the parcel
                    is
                    not collected within 8 days, it will be returned to our facility. If the parcel hasn't been
                    collected 3
                    (three) days after it is ready for collection, you will receive a notification. In the event the
                    parcel
                    is returned to us, our Customer Service will contact you regarding refund or new shipment options.
                    Delivery with DPD Pickup is not available in Corsica.</p>
                <p>
                    The DPD Predict shipping service provides home delivery (or any address of your choice), with
                    recorded
                    signature on delivery. Upon dispatch of your parcel, you will receive a text message notification
                    prompting you to choose from 2 delivery dates and a 3-hour window. You must confirm your selection
                    before 11pm. If you do not reply to the notification, the first available day and window will be
                    automatically selected. A confirmation of the delivery appointment will be sent via text message.
                    You will also be notified on the day to remind you of the imminent delivery. If, for any unexpected
                    reasons, you would like to change your delivery arrangements, several options are available on
                    www.dpd.fr. In the event the parcel is returned to Le Patissier, Customer Service will contact the
                    customer regarding refund or new shipment options.
                    Delivery with DPD Predict is not available in Corsica.</p>
                <p>
                    With So Colissimo (home delivery), the parcel is delivered to your home address, with recorded
                    signature
                    on delivery. In case of absence upon delivery, a notification card is left in your mailbox. The
                    parcel
                    must be collected at the post office within 15 (fifteen) days. If the parcel is not collected within
                    15
                    days, it will be returned to our facility. In the event the parcel is returned to us, our Customer
                    Service will contact you regarding refund or new shipment options. Regardless, you will be charged
                    all
                    costs related to a new shipment.</p>
                <p>
                    With Chronopost Express (next-day delivery), the parcel is delivered before 1pm on the next day
                    (Saturday excluded), with recorded signature on delivery. You may choose next-day delivery on
                    Saturday
                    before 1pm by selecting the Chronopost samedi option. In case of absence upon delivery, a
                    notification
                    card is left in your letter box. The parcel must be collected at the nearest post office or
                    Chronopost
                    centre within 15 (fifteen) days. If the parcel is not collected within 15 days, it will be returned
                    to
                    our facility. In the event the parcel is returned to us, our Customer Service will contact you
                    regarding
                    refund or new shipment options. Regardless, you will be charged all costs related to a new shipment.
                </p>
                <p>
                    With DB Schenker, your order is delivered on a pallet to your home address, by appointment only for
                    individuals. For professionals, pallets are delivered during the day (no appointment needed). In
                    case of
                    absence, a notification card is left in your letter box, and you will be contacted within 3 (three)
                    days
                    to arrange a new delivery date. If you don't get back to DB Schenker within 15 (fifteen) days, the
                    parcel is returned to our facility. In the event the parcel is returned to us, our Customer Service
                    will
                    contact you regarding refund or new shipment options. Regardless, you will be charged all costs
                    related
                    to a new shipment.</p>
                <p>
                    Delivery to DOM-TOM (French overseas departments and territories)</p>
                <p>
                    With So Colissimo (home delivery), the parcel is delivered to your home address, with recorded
                    signature
                    on delivery. In case of absence upon delivery, a notification card is left in your mailbox. The
                    parcel
                    must be collected at the post office within 15 (fifteen) days. If the parcel is not collected within
                    15
                    days, it will be returned to our facility. In the event the parcel is returned to us, our Customer
                    Service will contact you regarding refund or new shipment options. Regardless, you will be charged
                    all
                    costs related to a new shipment.</p>
                <p>
                    For customers living in the DOM TOM who place an order on the website of Le Patissier, customs fees
                    and duties may apply. These fees and duties shall be borne by the customer; Le Patissier has no
                    control over customs tax. Customs clearance taxes vary widely from country to country; please
                    contact
                    your local customs office for further information. In case of refusal of the package and the payment
                    of
                    customs duties, the initial shipping costs and any costs related to the return of the package will
                    be
                    the responsibility of the recipient, and will therefore be deducted from the refund of the goods. If
                    the
                    package is declared abandoned or destroyed on site by the customs authorities, no recourse or refund
                    will be possible.</p>
                <p>
                    Delivery to Europe (except UK)</p>
                <p>
                    The DPD Classic Europe shipping service provides home delivery with recorded signature on delivery,
                    Saturday excluded. Every step of the way, the tracking of your parcel is available online on the
                    website
                    www.dpd.fr.
                    In case of absence upon delivery, a notification card is left in your letter box.
                    The parcel must be collected from the nearest DPD centre within 15 (fifteen) days. If the parcel is
                    not
                    collected within 15 days, it will be returned to our facility.
                    In the event the parcel is returned to us, our Customer Service will contact you regarding refund or
                    new
                    shipment options.
                    Regardless, you will be charged all costs related to a new shipment.</p>
                <p>
                    With DB Schenker Europe, your order is delivered on a pallet to your home address, by appointment
                    only
                    for individuals. For professionals, pallets are delivered during the day (no appointment needed). In
                    case of absence, a notification card is left in your letter box, and you will be contacted within 3
                    (three) days to arrange a new delivery date. If you don't get back to DB Schenker within 15
                    (fifteen)
                    days, the parcel is returned to our facility. In the event the parcel is returned to us, our
                    Customer
                    Service will contact you regarding refund or new shipment options. Regardless, you will be charged
                    all
                    costs related to a new shipment.</p>
                <p>
                    Delivery to the UK</p>
                <p>
                    The DPD Classic Europe shipping service provides home delivery with recorded signature on delivery,
                    Saturday excluded. Every step of the way, the tracking of your parcel is available online on the
                    website
                    www.dpd.fr.
                    In case of absence upon delivery, a notification card is left in your letter box.
                    The parcel must be collected from the nearest DPD centre within 15 (fifteen) days. If the parcel is
                    not
                    collected within 15 days, it will be returned to our facility.
                    In the event the parcel is returned to us, our Customer Service will contact you regarding refund or
                    new
                    shipment options. Regardless, you will be charged all costs related to a new shipment.</p>
                <p>
                    As of 2021, for orders of goods with a value (VAT excluded) up to £135, UK VAT will be charged. For
                    orders of goods over £135, or for any order from professionals with a registered EORI number, no VAT
                    will be charged on your order, but mandatory customs formalities will apply at delivery with
                    additional
                    import VAT and customs fees.
                    These fees and duties shall be borne by the customer; Le Patissierv has no control over customs tax.
                    Customs clearance taxes vary widely from country to country; please contact your local customs
                    office
                    for further information. In case of refusal of the package and the payment of customs duties, the
                    initial shipping costs and any costs related to the return of the package will be the responsibility
                    of
                    the recipient, and will therefore be deducted from the refund of the goods. If the package is
                    declared
                    abandoned or destroyed on site by the customs authorities, no recourse or refund will be possible.
                </p>
                <p>
                    Delivery to International Countries</p>
                <p>
                    With Colissimo Monde, your order is delivered to your home address with recorded signature on
                    delivery,
                    Saturday excluded. Every step of the way, the tracking of your parcel is available online on your
                    personal account. In case of absence, a notification card is left in your letter box. The parcel
                    must be
                    collected from the nearest colissimo centre within 15 (fifteen) days. If the parcel is not collected
                    within 15 days, it will be returned to our facility. In the event the parcel is returned to us, our
                    Customer Service will contact you regarding refund or new shipment options. Regardless, you will be
                    charged all costs related to a new shipment.</p>
                <p>
                    For customers living outside Europe who place an order on the website of Le Patissier, customs fees
                    and duties may apply. These fees and duties shall be borne by the customer; Le Patissier has no
                    control over customs tax. Customs clearance taxes vary widely from country to country; please
                    contact
                    your local customs office for further information.
                    In case of refusal of the package and the payment of customs duties, the initial shipping costs and
                    any
                    costs related to the return of the package will be the responsibility of the recipient, and will
                    therefore be deducted from the refund of the goods. If the package is declared abandoned or
                    destroyed on
                    site by the customs authorities, no recourse or refund will be possible.</p>
                <p>
                    Delivery to a freight forwarder or pick-up by your carrier</p>
                <p>
                    In the case of delivery to a freight forwarder, it is up to the customer to select the most suitable
                    mode of transport among the offers proposed by our partners.</p>
                <p>
                    In the case of pick-up by your carrier, the customer should contact our customer service to best
                    organize the preparation and then the collection of the order.</p>
                <p>
                    The VAT advance will be systematically invoiced to the customer.</p>
                <p>
                    The VAT can be refunded upon receipt of a declaration from the carrier or freight forwarder who took
                    charge of the goods and certifying that they have been shipped or transported outside the European
                    Union. No other document will be taken into account.</p>
                <p>
                    The reimbursement will be made under the same conditions as the payment initiated by the customer. A
                    new
                    invoice without VAT will be made available to the customer.</p>
                <p>
                    Place of delivery and delivery times</p>
                <p>
                    The delivery time varies according to the actual stock availability at the time of the order. An
                    order
                    is ready for shipment when all the purchased items are marked 'In stock' in the basket summary.
                    When viewing the basket, stock availability is marked for each item.
                    If all items are marked 'In stock', the order is dispatched as soon as Le Patissier receives the
                    payment.
                    If one or several items are marked 'Restocking' or 'Available on order', you must add the supply
                    time
                    mentioned on the website to the standard delivery time.
                    Le Patissier does not normally provide partial shipment, as the calculation of shipping costs is
                    based on one single shipment.
                    However, split shipment of the items in stock can be arranged on request. Extra shipping costs
                    apply.
                    For metropolitan France, deliveries take between 2 and 3 working days with dpd Pickup ICI Colis, dpd
                    Predict, Colissimo and DB Schenker, or the next working day with Chronopost for any order placed
                    before
                    12pm (noon) where all items are marked in stock and from the time the parcel leaves our warehouse.
                </p>
                <p>
                    The delivery times mentioned above are not applicable when Le Patissier has not received the full
                    payment of an order. Le Patissier shall not be held liable for the late delivery of an order when
                    the delay is due to causes beyond reasonable control, including but not limited to force majeure or
                    acts
                    of God : pandemic, war, certain weather conditions (heat waves that can lead to the deterioration of
                    certain products), riot, fire, strike, accident and the inability to obtain supplies or any other
                    situation beyond our control....</p>
                <p>
                    Deliveries are guaranteed in all countries serviced by our partner couriers. Products are delivered
                    to
                    the address you provided at the time of the order. In case of absence upon delivery, a notification
                    card
                    is left in your the letter box. You can either contact the courier to organise another delivery or
                    collect the parcel from the nearest post office.</p>
                <p>
                    Shipping Costs</p>
                <p>
                    Shipping charges are calculated automatically, according to criteria such as parcel weight and
                    destination. Calculation of shipping costs is based on the price list provided by the courier. You
                    can
                    view the shipping costs estimate once all the items have been added to the basket (a country must be
                    selected).</p>
                <p>
                    Damaged parcel upon delivery</p>
                <p>
                    If there is clear evidence that the parcel has been opened or damaged, you must open the parcel in
                    front
                    of the courier, and refuse it if there are broken or missing items. After opening the parcel, you
                    must
                    write one of the following on the delivery receipt: "damaged parcel", "X items missing" or "X broken
                    items". Also, a declaration of damage must be signed with the courier. You should immediately
                    contact
                    Customer Service by telephone at
                    +33-5 59 24 54 48, from 9am to 12pm and 1:30 to 5pm) or by message. A photo of the damaged items may
                    be
                    requested.
                    If you do not comply with the procedure mentioned above within 14 days, Le Patissier shall not be
                    held responsible regarding the refund of products or shipping charges.</p>
                <p>
                    Late delivery with express service</p>
                <p>
                    For parcels delivered with a delay of over 24 hours with Chronopost Express, we will refund the
                    price
                    difference between express and standard service, on request, except if one of the following
                    situations
                    apply:
                    the address is inaccurate or incomplete (buzzer code not provided, no name on the intercom...)
                    the recipient is absent upon delivery
                    adverse weather conditions
                    force majeure or act of God (road accident, storm, natural disaster...)
                    some items are not in stock at the time of the order
                    the order was placed after 12pm (noon).
                    Conditions specific to Chronopost:
                    for any order placed on Friday before 12pm (noon) where all items are in stock, the delivery will
                    take
                    place on the following Monday;
                    for any order placed on Friday after 12pm (noon) where all items are in stock, the delivery will
                    take
                    place on the following Tuesday.
                    Conditions specific to Chronopost samedi:
                    for any order placed on Friday before 12pm (noon) where all items are in stock, the delivery will
                    take
                    place the next day (i.e. Saturday).
                    The request of the delay in delivery must imperatively be made within 24 hours of receipt of the
                    package.</p>
                <hr>
                <h3>
                    ARTICLE 7 - GUARANTEES</h3>
                Secure Payment:<p>
                    Security of payment is a major concern for Le Patissier. All transactions on the website of
                    Le Patissier are protected thanks to a secure payment protocol. All personal data transmitted by our
                    security
                    server are locked before being sent through the Internet. (See page about secure payment.)</p>
                <p>
                    Secure Payment System:</p>
                <p>
                    Your financial information (credit card number, expiry date) is SSL-encrypted, then processed by our
                    financial partner Banque Populaire. Your financial data do not pass through our website: Banque
                    Populaire is the only entity to have access to these details. For optimal security, Le Patissier
                    has
                    selected the SSL (Secure Socket Layer) system, widely used by today's leading e-commerce
                    stakeholders.</p>

                Money Back Guarantee:<p>
                    Le Patissier abides by the 'Money Back' guarantee specified in the quality charter of the French
                    Association of Distance Selling Companies (FEVAD).</p>

                Damaged or Non-Compliant Items:<p>
                    Le Patissier takes great pride in the quality of its products and takes great care to package
                    them
                    before shipment. However, damages do occur on occasion. If the goods delivered are not what you
                    ordered,
                    or are damaged or faulty, our Customer Service must be notified within 7 days by telephone (+33 5 59
                    24
                    54 48) or via the contact form. A photo of the damaged items may be requested. On request, you will
                    receive a pre-paid shipping label to return the parcel (for metropolitan France only). To return the
                    parcel, simply drop it at any post office and no fees will be incurred. For customers outside
                    France, an
                    invoice of the return shipping costs will be requested for a refund.</p>
                <hr>
                <h3>
                    ARTICLE 8 - RIGHT OF WITHDRAWAL & COOLING-OFF PERIOD</h3>
                <p>
                    In accordance with article L 121-21 of the French Consumer Code, the customer has the right to
                    return a
                    product within 14 (fourteen) days from the date of delivery, without giving any reason. The return
                    shipping costs shall be borne by the customers.</p>
                <p>
                    Goods must be returned in their original package, together with all the accessories and/or
                    documentation
                    supplied with the items. When you exercise your right of withdrawal, upon receipt of the return at
                    our
                    warehouse, Le Patissier guarantees the refund of the item(s) you wish to return. If you are
                    returning all the items in your order, we will refund the total amount of the initial shipping
                    charges.
                    If you are returning only one or several items from your order, the refund is based on the extra
                    shipping costs incurred by the returned item(s) in respect to the total weight of your order. We
                    will
                    issue a credit (automatically deducted from your next order) once the delivery to our warehouse is
                    confirmed. On request to our Customer Service, a refund is also possible. If you selected express
                    delivery, Le Patissier is not bound to reimburse the additional costs related to express
                    shipping.
                    The refund will be based on standard shipping charges. Within 4 (four) days following the reception
                    of
                    the parcel in our warehouse, Le Patissier can check the condition of the returned item. If the
                    evaluation shows the product was tried more than what is considered normal, its value can be
                    decreased.</p>
                <p>
                    Two Exceptions to the Cooling-Off Period:</p>
                <p>
                    1) The cooling-off period does not apply to food products. In the event the customer is not totally
                    satisfied with a food item, no refund or exchange is possible. Le Patissier collaborates with
                    suppliers that are selected for their professionalism, reliability and quality standards. When a
                    food
                    item that is compliant with the specifications and use-by date specified on the product page has
                    been
                    opened and/or used by the client, Le Patissier cannot accept any return, exchange or refund.</p>
                <p>
                    2) Clothing products, when ordered with embroidery, are considered personalised items and are not
                    subject to the right of withdrawal. When the embroidery is compliant with the instructions given by
                    the
                    client, Le Patissier cannot accept any return, exchange or refund.</p>
                <p>
                    How Can You Cancel an Order during the Cooling-Off Period?</p>
                <p>
                    Le Patissier must be notified about your decision to cancel your order during the 14-day
                    cooling-off
                    period. A withdrawal form is available in your personal account, in "Your orders".
                    If you use this option, Le Patissier will communicate to you an acknowledgement of receipt
                    without
                    delay.</p>
                <p>
                    Important: The cancellation period will expire after 14 (fourteen) days, from the day you receive or
                    collect the purchased goods. The item must be returned in its original package, together with all
                    the
                    accessories and/or documentation supplied with it as well as a copy of the invoice, within 14
                    (fourteen)
                    days after you notified Le Patissier about your decision to cancel your order, in accordance
                    with
                    article L. 121-21-2.</p>
                <p>
                    Packaging precautions for returning goods:</p>
                <p>
                    Le Patissier puts great care into the protection and packaging of products before shipment.
                    Regarding returned goods, Le Patissier expects the same efforts from you. When there is clear
                    evidence (with supporting photos) that one or several items have been broken or damaged during
                    return
                    shipping, Le Patissier cannot satisfy any refund request. In the event some items are broken
                    (plates
                    or glasses for example), the credit will be issued according to the number of items that arrived in
                    resale condition.</p>
                <hr>
                <h3>
                    ARTICLE 9 - WARRANTY & AFTER-SALES SERVICE</h3>
                <p>
                    All the products sold on the website come with a retailer warranty (as opposed to a manufacturer
                    warranty). The validity time and conditions of the warranty are specific to each product. For
                    further
                    information, please contact our Customer Service via the message form.
                    After-Sales Service Returns: For an efficient processing of your request, a copy of the invoice
                    should
                    be joined to the returned parcel. Return shipping costs shall be borne by the customer. Following
                    the
                    repair or exchange of the item, the charges related to a new shipment shall be borne by Le
                    Patissier.</p>
                <p>
                    For consumers established outside the EU, in the event of refusal of the package and the payment of
                    customs duties, the initial shipping costs and any costs related to the return of the package will
                    be
                    borne by the recipient, and will therefore be deducted. reimbursement of goods. If the package is
                    declared abandoned or destroyed on site by the customs authorities, no recourse or refund will be
                    possible.</p>
                <hr>
                <h3>
                    ARTICLE 10 - LEGAL GUARANTEES</h3>
                <p>
                    Le Patissier is liable for defects in goods' conformity by the contract under the conditions of
                    article L. 211-4 and following of the Consumer Code, and for hidden defects of the item sold under
                    the
                    conditions provided for in articles 1641 and following of the Civil Code. Being the guarantee
                    against
                    hidden defects, the consumer can decide to implement this guarantee within the meaning of article
                    1641
                    of the Civil Code and, in this case, can either cancel the sale or accept a price reduction in
                    accordance with article 1644 of the Civil Code.</p>
                <p>
                    It should be noted that the consumer, within the framework of the legal guarantee of conformity:
                    has a two-year period from the delivery of the goods to act;
                    may choose between repairing or replacing the product, subject to the cost conditions provided for
                    in
                    Article L. 217-9 of the Consumer Code;
                    for contracts entered into after March 18, 2016, the buyer is exempt from providing proof of the
                    existence of the Product lack of conformity during the twenty-four months following delivery of the
                    Product. For contracts concluded earlier, the default is presumed for six months.
                    It is recalled that the legal guarantee of conformity applies independently of any commercial
                    guarantee
                    that may be provided by the manufacturer or Le Patissier.</p>
                <p>
                    To benefit from the legal guarantee of conformity or the guarantee against hidden defects for a
                    product
                    sold by Le Patissier, contact our Customer Service:
                    by Messaging, via your customer area
                    by email to the following address: contact@le-patissier.com
                </p>
                <p>
                    Or via our customer service which is available to you on +33(0)5 59 24 54 48, Monday to Friday from
                    9
                    a.m. to 12:30 p.m. and from 1:30 p.m. to 4:30 p.m.</p>
                <p>
                    In order to optimize the processing of your request, remember to indicate your order number in
                    question
                    as well as the article when contacting us.</p>
                Copy of legal provisions:
                <p>
                    Article L217-4 of the Consumer Code
                    The seller is required to deliver goods in conformity with the contract and is liable for any
                    existing
                    lack of conformity at the time of delivery.
                    Seller is also responsible for any lack of conformity resulting from the packaging, the assembly
                    instructions or the installation when this has been billed to him by the contract or has been
                    carried
                    out under his responsibility.</p>
                <p>
                    Article L217-5 of the Consumer Code</p>
                <p>
                    To comply with the contract, the good must:</p>
                <p>
                    1) Be suitable for use as expected of a similar good and, where applicable:
                    Matching a description given by the seller and having qualities that the latter presented to the
                    buyer
                    in the form of a sample or model;</p>
                <p>
                    Present the qualities that a buyer can legitimately expect given the public statements made by the
                    seller, the producer or his representative, in particular in advertising or labelling;
                    2) Or have the characteristics defined by mutual agreement between the parties or be suitable for
                    any
                    special use sought by the buyer, brought to the attention of the seller, and which the latter has
                    accepted.</p>
                <p>
                    Article L217-12 of the Consumer Code
                    Action resulting from lack of conformity lapses 2 years after delivery of the goods.</p>
                <p>
                    Article L217-16 of the Consumer Code
                    When the buyer asks the seller, during the course of the commercial guarantee granted to him during
                    the
                    acquisition or repair of personal property, a repair covered by the guarantee, any period of
                    immobilisation of seven days or more is added to the duration of the guarantee remaining period.
                    This
                    period runs from the buyer's request for intervention or the provision for repair of the property in
                    question, if this provision incurs after to the request for intervention.</p>
                <p>
                    Article 1641 of the Civil Code
                    The seller is bound by the warranty for hidden defects of the item sold which make it unfit for use
                    for
                    which it is intended, or which reduce this use to such an extent that the buyer wouldn't acquire it,
                    or
                    would have paid a lower price, if he was aware of such defects.</p>
                <p>
                    Article 1648 paragraph 1 of the Civil Code
                    The action resulting from latent defects must be brought by the purchaser within 2 years after the
                    discovery of the defect.</p>

                <p>
                    10.2 - The Manufacturer's Guarantee
                    Certain products for sale on the Website benefit from a contractual guarantee known as the
                    "Manufacturer's Guarantee" granted by the supplier or the manufacturer of the product, and to which
                    Le Patissier is not a party. Therefore, Le Patissier can't be held responsible in the event
                    that
                    the manufacturer refuses to apply the warranty. The extent and duration of this warranty varies from
                    one
                    supplier to another. The buyer can consult the exact terms of the guarantees on the manufacturer's
                    website, in the Product instructions or generally present in the box containing the product.</p>
                <p>
                    If you wish to apply the Manufacturer's Guarantee, we thank you for letting us know when contacting
                    our
                    Customer Service in order to be the subject of a basic check by Le Patissier for detecting a
                    failure
                    of the product:
                    by Messaging, via your customer area
                    by email to the following address: contact@le-patissier.com
                    or via our Customer Service available at +33(0)5 59 24 54 48, Monday to Friday from 9 am to 12:30 pm
                    and
                    1:30 pm to 4:30 pm.</p>
                <p>
                    It is recalled that the benefit of the manufacturer's or commercial guarantee doesn't preclude the
                    application of the legal provisions relating to the legal guarantee of conformity as appearing in
                    articles L217-4 to L217-13 of the French Consumer Code and the warranty against hidden defects as
                    appearing in articles 1641 to 1648 of the civil code as well as in the article 2232 of the same code
                    and
                    here reproduced in the article 9.1.</p>
                <hr>
                <h3>
                    ARTICLE 11 - RESPONSABILITY</h3>
                <p>
                    Except for deliveries in France, Le Patissier shall not be held liable if the delivered goods do
                    not
                    comply with local regulations of your country.</p>
                <p>
                    Le Patissier is committed to making every effort possible to deliver the best quality of
                    service.
                    However, Le Patissier shall not bear responsibility in the event it fails to meet its
                    contractual
                    obligations when this breach is due to causes out of reasonable control (force majeure or act of
                    God).</p>
                <p>
                    Le Patissier shall not bear responsibility when a shipping is delayed because the items are out
                    of
                    stock or unavailable from our supplier. Le Patissier shall not be held liable if minor
                    discrepancies
                    exist between the product images and description and the product itself.</p>
                <p>
                    Le Patissier is committed to making every effort possible to comply with all obligations
                    specified
                    in these conditions. Le Patissier shall bear responsibility for damages arising out or in
                    connection
                    with the use of this website or the finalisation of the purchase contract between you and us.
                    Regarding
                    contractual relationships with professional clients, Le Patissier shall not be held liable for
                    any
                    loss of profit, business, opportunity or data, or any other damage which is direct, indirect,
                    incidental
                    or consequential to the use of this website or the finalisation of the purchase contract between you
                    and
                    us.</p>
                <p>
                    Le Patissier shall not be held liable for any damages - material or non-material - or personal
                    injuries arising from an incorrect use of the products sold on the website.</p>
                <hr>
                <h3>
                    ARTICLE 12 - APPLICABLE LAW & JURISDICTION</h3>
                These Conditions of Sale are subject to the French law.
                <p>
                    In the event of sale to individuals:
                    In accordance with the provisions of articles L 611-1, R.631-3 and R 612-1 et seq. of the Consumer
                    Code
                    concerning the amicable settlement of disputes: After prior written action by consumers vis-à-vis
                    Le Patissier / SARL PLAT-NET, the consumer can submit his complaint free of charge to the
                    consumer
                    mediator. The mediator must be contacted within a maximum period of one year from the initial
                    complaint.</p>

                <p>
                    At the European level, the European Commission provides you with an on-line dispute resolution
                    platform.</p>
                <p>
                    In the event that mediation is not successful, any procedure or litigation will be determined that
                    by
                    the place of residence of the defendant, or, according to the choice of the defendant, or the place
                    of
                    effective delivery of the product. (Article R631-3 of the Consumer Code).</p>
                <p>
                    In the event of sale to professionals:
                    In the absence of an amicable solution, the Commercial Court of BAYONNE has sole jurisdiction, even
                    in
                    the event of multiple defendants, summary proceedings or guarantee appeal.</p>
                <hr>
                <h3>
                    ARTICLE 13 - MODIFICATION OF CONTENT</h3>
                <p>
                    Le Patissier reserves the right to modify or update the contents of the website and these
                    general
                    terms and conditions of sale at any time and without prior notice. You are subject to the general
                    terms
                    and conditions of sale applicable at the time you place an order on the website of Le Patissier,
                    unless specific changes are required by administrative or governmental authorities; in that case,
                    the
                    modifications may apply to your previous orders.</p>
                <hr>
                <h3>
                    ARTICLE 14 - WAIVER</h3>
                <p>
                    If you breach these general terms and conditions of sale and Le Patissier chooses not to take
                    legal
                    action, Le Patissier will still be entitled to use its rights and remedies in any other
                    situation
                    where you breach these terms of sale.</p>
                <hr>
                <h3>
                    ARTICLE 15 - PRIVACY</h3>
                <p>
                    The collection of personal information is essential for distance selling purposes (shipment of
                    orders,
                    invoicing...). Under the French Data Protection Act, the personal information collected byLe
                    Patissierabout customers is registered at the C.N.I.L. (French Commission for International
                    Technology
                    and
                    Liberties) under the number 745929.</p>
                <p>
                    In accordance with the French Data Protection Act (article n° 34 of the 6th of January 1978), you
                    have
                    the right to access, modify, rectify or delete your personal information</p>
                <p>
                    Contact our Customer Service by email or telephone: +33 5 59 24 54 48.</p>
                <p>
                    Le Patissier Customer Service is committed to giving a prompt reply to all inquiries.</p>
            </section>
        </div>
    </div>
</div>

{% endblock %}