{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if messages %}
    <style>
        .toast {
            opacity: 1 !important;
        }
    </style>
    <script>
        const closeBtn = document.querySelector(".message-container span");
        const container = document.querySelector(".message-container");
        closeBtn.onclick = () => container.style.display = 'none';
    </script>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <div class="img-container">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            {% if product.discount != 0 %}
                            <div class="discount-banner font-weight-bold text-center">
                                -{{ product.discount }}%
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body pb-0">
                            <p class="mb-0 text-center font-weight-bold">{{ product.name }}</p>
                        </div>
                        <div class="card-body pb-0">
                            <p class="brand-detail mb-0 text-center"><a href="{% url 'products' %}?brand={{ product.brand.name }}">{{ product.brand.friendly_name }}</a></p>
                        </div>
                        <div class="card-body bg-white pt-0 border-0 text-left">
                            {% if product.discount != 0 %}
                            <div class="row price-row">
                                <div class="col-6 pr-1">
                                    <p class="text-muted lead mb-0 text-right old-price">{{ product.price }} €
                                    </p>
                                </div>
                                <div class="col-6 pl-1">
                                    <p class="mb-0 text-left font-weight-bold price">{{ product.discounted_price }}
                                        €</p>
                                </div>
                            </div>
                            {% else %}
                            <div class="row price-row">
                                <p class="mb-0 text-center font-weight-bold price">{{ product.price }} €</p>
                            </div>
                            {% endif %}
                            <div class="price-row">
                                {% if product.calc_rating > 0 %}
                                    <small><i class="fas fa-star mr-1" style='color: #ffd700'></i> {{ product.calc_rating }} / 5 | {{ product.approved_review }}
                                    {% if product.approved_review == 1 %}
                                        review
                                    {% else %}
                                        reviews
                                    {% endif %} </small>
                                {% else %}
                                    {% if product.rating %}
                                        <small><i class="fas fa-star mr-1" style='color: #ffd700'></i>{{ product.rating }} / 5 </small>
                                    {% else %}
                                        <small>No Rating</small>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div>
                                <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <div>
                                            <button id="card-basket" type="submit"><i class="fas fa-shopping-bag fa-2x"></i></button>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        <input type="hidden" name="quantity" value="1">
                                    </div>
                                </form>
                            </div>
                            <div class="price-row">
                                {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </small>
                                {% endif %}
                                <p class="my-2 text-center"><i class="fa-regular fa-circle-check fa-lg" style='color: green'></i> In stock</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}