{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col d-flex flex-column align-items-center mt-3">
        <h2 class="title-font">Newsletter</h2>
        <hr class="w-50 text-center mb-1">
    </div>
    <div class="row">
        <div class="col-10 col-md-8 col-lg-4 mx-auto" id="mc_embed_shell">
            <div id="mc_embed_signup">
                <form method="post">
                    {% csrf_token %}
                    <strong>
                        <h2 class="font-weight-bold text-center">Unsubscribe and you won't receive any news from us
                            anymore.</h2>
                    </strong>
                    <hr>
                    
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                class="asterisk">*</span></label>
                    {{ form.as_p }}
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        /* real people should not fill this in and expect good things - do not remove this or risk
                        form
                        bot signups */
                        <input type="text" name="b_e87aa465b7cc1d85ef38348aa_671c7e784a" tabindex="-1" value="">
                    </div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                class="btn rounded-0 text-uppercase font-weight-bold unsubscribe-btn"
                                value="Unsubscribe">
                            <p style="margin: 0px auto;"><a href="http://eepurl.com/ixlw9s"
                                    title="Mailchimp - email marketing made easy and fun"><span
                                        style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                            class="refferal_badge"
                                            src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                            alt="Intuit&nbsp;Mailchimp"
                                            style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                            </p>
                        </div>
                    </div>
            </div>
            </form>
            <p class="mt-2 text-center"><a href="{% url 'home' %}">home</a></p>
        </div>
    </div>
</div>

{% endblock %}